div{
    background-color: rgb(235, 148, 42);
    text-align: center;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;

    width: 1000px;
    padding: 10px;
    margin-bottom: 20px;

}

div:hover{
    background-color: yellow;
}

div#escondido > p{
    display: none;
}

div#escondido:hover > p{
    display: block;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #f8a641 0%, rgb(255, 217, 170) 40%) fixed;
    background-repeat: no-repeat;
}

h1{
    font-size: 4em;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: aqua;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color: gray;
}

a::after{
    content: ' [link]';
    color: black;
    font-weight: normal;
}

.especial::before{
    content: ' => ';
    color: black;
    font-weight: normal;
}

.especial{
    background-color: rgb(0, 255, 106);
}

.especial:hover{
    background-color: rgba(0, 0, 0, 0.384);
}


